@import url(./assets/reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: 'fivosans';
  background-color: #fbfcfc;
  color: rgba(0, 0, 0, 0.65);
}

body::before {
  content: '';
  background: url('./assets/images/header_bg.png') no-repeat center top;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1350px;
}

@media screen and (min-width: 1920px) {
  body::before {
    background-size: cover;
  }
}

.button {
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 50px;
  text-transform: capitalize;
}

.button:hover {
  box-shadow: -5px 8px 25px -5px rgba(255, 106, 109, 0.8);
}

h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #3b3838;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.topBar {
  display: flex;
  padding: 85px 245px;
  line-height: 47px;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: #ff6a6d;
  margin-left: 11px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  width: 473px;
}

.nav__item {
  text-transform: capitalize;
  cursor: pointer;
}

.nav__item_active {
  font-weight: 700;
  color: #ff6a6d;
  font-size: 110%;
}

.login {
  margin-left: 124px;
}

.login__button {
  background-color: #ff6a6d;
  padding: 13px 47px;
}

.welcome {
  margin-left: 300px;
  padding-top: 100px;
  padding-bottom: 455px;
  max-width: 538px;
}

.welcome__title {
  margin-bottom: 65px;
}

.welcome__text {
  line-height: 35px;
  margin-bottom: 69px;
}

.welcome__service {
  background-color: #ff6a6d;
  padding: 30px 90px;
  font-size: 20px;
  margin-right: 25px;
}

.welcome__signup {
  border: 1px solid #ff6a6d;
  padding: 30px 87px;
  color: #ff6a6d;
  font-size: 20px;
}

.choose {
  margin-top: 50px !important;
  margin: 0 17vw;
}

.chooseHeading {
  text-align: center;
  margin-bottom: 140px;
}

.chooseHeading__title {
  margin-bottom: 40px;
}

.chooseHeading__text {
  padding-bottom: 20px;
}

.chooseCardsContainer {
  display: flex;
  justify-content: space-between;
}

.chooseCard {
  flex-basis: 270px;
  text-align: center;
}

.chooseCard__title {
  font-size: 22px;
  font-weight: 700;
  padding-top: 90px;
  color: #3b3838;
}

.chooseCard__text {
  padding-top: 32px;
  line-height: 27px;
}

.chooseCard__image {
  max-width: 206px;
  max-height: 219px;
}

.whats {
  padding-bottom: 150px;
  padding-top: 300px;
  overflow: hidden;
  position: relative;
}

.whats::before {
  content: '';
  position: absolute;
  bottom: 550px;
  left: -50px;
  background: url('./assets/images/whats_leaf.png') no-repeat;
  width: 229px;
  height: 377px;
  z-index: -1;
}

.whats::after {
  content: '';
  position: absolute;
  top: 120px;
  right: -150px;
  background: url('./assets/images/whats_cloud.png') no-repeat;
  width: 300px;
  height: 488px;
  z-index: -1;
}

.whatsContainer {
  margin-left: 55vw;
  margin-right: 15vw;
  position: relative;
}

.whatsContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -800px;
  background: url('./assets/images/whats_yoga.png') no-repeat;
  width: 701px;
  height: 655px;
  z-index: -1;
}

.whats__title {
  margin-bottom: 85px;
}

.whatsList {
  padding-left: 15px;
}

.whatsList__item {
  background: url('./assets/images/check.png') no-repeat left top;
  padding-left: 45px;
  padding-top: 3px;
}

.whatsList__item_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 23px;
  color: rgba(0, 0, 0, 0.749);
}

.whatsList__item_text {
  margin-bottom: 57px;
  line-height: 35px;
}

.healing {
  padding-bottom: 400px;
  padding-top: 300px;
  position: relative;
  overflow: hidden;
}

.healing::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: -132px;
  background: url('./assets/images/healing_cloud.png') no-repeat;
  z-index: -1;
  width: 351px;
  height: 445px;
}

.healingContainer {
  margin-left: 313px;
  width: 30vw;
  position: relative;
}

.healingContainer::before {
  content: '';
  position: absolute;
  top: -115px;
  right: -795px;
  background: url('./assets/images/healing_yoga.png') no-repeat;
  z-index: -1;
  width: 661px;
  height: 640px;
}

.healing__title {
  margin-top: 17px;
}

.healing__author {
  font-style: oblique;
  font-size: 19px;
  opacity: 0.5;
}

.healing__text {
  margin: 80px 0 83px 55px;
  width: 380px;
  line-height: 40px;
}

.healing__link {
  margin-left: 55px;
}

.readMore {
  color: #3cbef1;
  text-decoration: none;
  outline: none;
  font-style: oblique;
}

.readMore:focus {
  outline: none;
}

.readMore:hover {
  text-decoration: underline;
}

.ways {
  padding-top: 300px;
  padding-bottom: 50px;
  position: relative;
  top: -334px;
  overflow: hidden;
}

.ways::before {
  content: '';
  position: absolute;
  top: 0;
  right: -110px;
  background: url('./assets/images/ways_cloud.png') no-repeat;
  z-index: -1;
  width: 304px;
  height: 487px;
}

.ways::after {
  content: '';
  position: absolute;
  top: 168px;
  right: -68px;
  background: url('./assets/images/ways_leaf.png') no-repeat;
  z-index: -1;
  width: 262px;
  height: 431px;
}

.waysContainer {
  margin-left: 45vw;
  margin-right: 370px;
  position: relative;
}

.waysContainer::before {
  content: '';
  position: absolute;
  top: 29px;
  left: -700px;
  background: url('./assets/images/ways_yoga.png') no-repeat;
  z-index: -1;
  width: 629px;
  height: 735px;
}

.ways__title {
  margin-left: auto;
  margin-bottom: 106px;
}

.ways__text {
  line-height: 40px;
  text-indent: 3em;
  margin-left: 114px;
}

.ways__text:last-of-type {
  margin-bottom: 99px;
}

.ways__link {
  margin-left: 114px;
}

footer {
  overflow: hidden;
  position: relative;
  margin-top: -200px;
}

.bgBlue {
  position: absolute;
  background-color: rgba(104, 223, 253, 1);
  z-index: -10;
  width: 2512px;
  height: 2512px;
  border-radius: 50%;
  top: 0;
  left: -300px;
}

.links {
  max-width: 1428px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  padding: 117px 172px 0;
}

.linksBlock {
  max-width: 200px;
}

.copyright {
  color: #2e2e2e;
  opacity: 0.701;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 110px;
  padding-bottom: 30px;
}

.linksBlock__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 50px;
}

.linksBlock__text {
  font-weight: 300;
  line-height: 30px;
  font-size: 17px;
}

.linksBlock__text + .linksBlock__text {
  margin-top: 12px;
}

.prices {
  margin-bottom: 200px;
  padding-top: 20px;
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  width: 475px;
  color: rgba(59, 56, 56, 0.749);
  box-shadow: -15px 20px 60px 0 rgba(255, 106, 109, 0.3);
}

.pricesBlock:first-child,
.pricesBlock:last-child {
  margin: 36px 0;
}

.pricesBlock:first-child .pricesBlock__list {
  margin-top: 74px;
}

.pricesBlock:nth-child(2) {
  z-index: 10;
}

.pricesBlock:nth-child(2) .pricesBlock__button {
  background: rgba(255, 106, 109, 1);
}

.pricesBlock__priceBlock {
  display: flex;
  margin-top: auto;
}

.pricesBlock__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 78px;
  margin-bottom: 57px;
}

.pricesBlock__best {
  background-color: rgba(255, 106, 109, 1);
  text-align: center;
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 49px;
}

.pricesBlock__best_title {
  font-size: 30px;
  line-height: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fbfcfc;
}

.pricesBlock__list {
  margin-bottom: 68px;
}

.pricesBlock:last-child .pricesBlock__list {
  margin-bottom: 44px;
}

.pricesBlock__listItem {
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
}

.pricesBlock__listItem + .pricesBlock__listItem {
  margin-top: 28px;
}

.pricesBlock__dollar {
  font-size: 44px;
  font-weight: 400;
  margin-right: 22px;
}

.pricesBlock__digit {
  font-size: 140px;
  font-weight: 400;
  margin-top: 5px;
}

.pricesBlock__period {
  font-size: 30px;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 22px;
  margin-top: auto;
}

.pricesBlock__description {
  font-size: 16px;
  font-style: oblique;
  font-weight: 400;
  margin-top: 20px;
}

.pricesBlock__button {
  margin: 59px auto 55px;
  background: rgb(0, 88, 168);
  background: linear-gradient(
    15deg,
    rgba(0, 134, 255, 1) 0%,
    rgba(142, 199, 251, 1) 60%,
    rgba(202, 230, 255, 1) 85%
  );
  border: none;
  padding: 33px;
  border-radius: 50px;
  text-transform: capitalize;
  color: #fbfcfc;
  font-size: 17px;
  font-weight: 600;
}

.pricesBlock__button:hover {
  box-shadow: -15px 20px 30px 0 rgba(142, 199, 251, 0.5);
}

.pricesBlock:nth-child(2) .pricesBlock__button:hover {
  box-shadow: -15px 20px 30px 0 rgba(255, 106, 109, 0.5);
}
