@import url(./assets/reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: 'fivosans';
  background-color: #fbfcfc;
  color: #3b3838;
}

body::before {
  content: '';
  background: url('./assets/images/header_bg.png') no-repeat center top;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1350px;
}

@media screen and (min-width: 1920px) {
  body::before {
    background-size: cover;
  }
}

.button {
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 50px;
  text-transform: capitalize;
}

.button:hover {
  box-shadow: -5px 8px 25px -5px rgba(255, 106, 109, 0.8);
}

h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.topBar {
  display: flex;
  padding: 85px 245px;
  line-height: 47px;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: #ff6a6d;
  margin-left: 11px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  width: 473px;
}

.nav__item {
  text-transform: capitalize;
  cursor: pointer;
}

.nav__item_active {
  font-weight: 700;
  color: #ff6a6d;
  font-size: 110%;
}

.login {
  margin-left: 124px;
}

.login__button {
  background-color: #ff6a6d;
  padding: 13px 47px;
}

.welcome {
  margin-left: 300px;
  padding-top: 100px;
  padding-bottom: 455px;
  max-width: 538px;
}

.welcome__title {
  margin-bottom: 65px;
}

.welcome__text {
  line-height: 35px;
  margin-bottom: 69px;
}

.welcome__service {
  background-color: #ff6a6d;
  padding: 30px 90px;
  font-size: 20px;
  margin-right: 25px;
}

.welcome__signup {
  border: 1px solid #ff6a6d;
  padding: 30px 87px;
  color: #ff6a6d;
  font-size: 20px;
}

.choose {
  margin-top: 50px !important;
  margin: 0 17vw;
}

.chooseHeading {
  text-align: center;
  margin-bottom: 140px;
}

.chooseHeading__title {
  margin-bottom: 40px;
}

.chooseHeading__text {
  padding-bottom: 20px;
}

.chooseCardsContainer {
  display: flex;
  justify-content: space-between;
}

.chooseCard {
  flex-basis: 270px;
  text-align: center;
}

.chooseCard__title {
  font-size: 22px;
  font-weight: 700;
  padding-top: 90px;
}

.chooseCard__text {
  padding-top: 32px;
  line-height: 27px;
}

.chooseCard__image {
  max-width: 206px;
  max-height: 219px;
}

.whats {
  padding-bottom: 450px;
  padding-top: 300px;
  overflow: hidden;
  position: relative;
}

.whats::before {
  content: '';
  position: absolute;
  bottom: 550px;
  left: -50px;
  background: url('./assets/images/leaf_left.png') no-repeat;
  width: 229px;
  height: 377px;
  z-index: -1;
}

.whats::after {
  content: '';
  position: absolute;
  top: 120px;
  right: -150px;
  background: url('./assets/images/cloud_right.png') no-repeat;
  width: 300px;
  height: 488px;
  z-index: -1;
}

.whatsContainer {
  margin-left: 55vw;
  margin-right: 15vw;
  position: relative;
}

.whatsContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -800px;
  background: url('./assets/images/yoga_1.png') no-repeat;
  width: 701px;
  height: 655px;
  z-index: -1;
}

.whats__title {
  margin-bottom: 85px;
}

.whatsList {
  padding-left: 15px;
}

.whatsList__item {
  background: url('./assets/images/check.png') no-repeat left top;
  padding-left: 45px;
  padding-top: 3px;
}

.whatsList__item_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 23px;
}

.whatsList__item_text {
  margin-bottom: 57px;
  line-height: 35px;
}
